@model IEnumerable<QuanLySIM.Entities.NhanVien>

@{
    ViewBag.Title = "Quản Lý Nhân Viên";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
    String BaseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";    
}

<script type="text/javascript">
    setInterval(function () {

        $('div#content').load('@(BaseUrl)' + '/Admin/Staff div#content div.panel');

    }, 50);
</script>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; QUẢN LÝ NHÂN VIÊN</h3>
    </div>
    <div class="panel-body">

        <table class="table table-hover">
            <tr>
                <th>
                    Tài Khoản
                </th>
                <th>
                    Email
                </th>
                <th>
                    Tên
                </th>
                <th></th>
                <th></th>
            </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNV)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaNV }) |
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaNV })
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Staff", new { id = item.MaNV }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" onclick="return confirm('Bạn có chắc muốn xóa bản ghi này?')" class="btn btn-danger" value="Xóa" />
                    }
                </td>
            </tr>
        }

        </table>

    </div>
    <div class="panel-footer">Tổng <span class="badge">@Model.Count()</span></div>
</div>
