@model IEnumerable<QuanLySIM.Entities.SIM>
@using QuanLySIM.Entities

@{
    ViewBag.Title = "Quản Lý SIM - SIM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-list"></span> SIM HIỆN CÓ <span class="badge" style="vertical-align: middle;">@(ViewBag.SimCount)</span>            
        </h3>
    </div>  
    <div class="panel-body">
        <table class="table table-hover">            
            @foreach (var item in Model) {
            <tr>                
                @if (item.TinhTrang == SIM.SOLD)
                {
                    <td>
                        <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
                        @Html.ActionLink(item.SoThueBao, "Details", "SIM", new { id = item.SimId }, null)&nbsp;
                        <span class="label label-danger">Đã Bán</span>
                    </td>
                    <td style="width: 30px;"></td>
                }
                else if (item.TinhTrang == SIM.NOT_PAID)
                {
                    <td>
                        <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
                        @Html.ActionLink(item.SoThueBao, "Details", "SIM", new { id = item.SimId }, null)&nbsp;
                        <span class="label label-warning">Đã Được Đặt Hàng</span>
                    </td>
                    <td style="width: 30px;"></td>
                }
                else
                {
                    <td>
                        <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
                        @Html.ActionLink(item.SoThueBao, "Details", "SIM", new { id = item.SimId }, null)
                    </td>
                    <td style="width: 30px;">                        
                        @Html.ActionLink("Đặt Hàng", "Order", "SIM", new { id = item.SimId }, new { @class = "label label-danger", style = "padding: 6px 10px; vertical-align: middle;" })
                    </td>
                }
            </tr>
            }
        </table>
    </div>
</div>